/**
 * Global elements
 */
* {
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: var(--black-1);
  font-family: var(--font-sans);
  font-size: var(--font-size-3);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
  font-weight: 400;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: clamp(.333rem, 50vw, 1rem);
}

p,
ul,
ol {
  margin-bottom: var(--size-5);
  margin-top: 0;
}

h1 {
  font-size: clamp(2.5rem, 4vw, 3.5rem);
}

h2 {
  font-size: clamp(2.25rem, 4vw, 3rem);
}

h3 {
  font-size: clamp(2rem, 4vw, 2.5rem);
}

h4 {
  font-size: clamp(1.75rem, 4vw, 2.0rem);
}

h5 {
  font-size: var(--font-size-4);
}

h6 {
  font-size: var(--font-size-3);
}

a {
  color: var(--link-rest);
}

a:hover {
  color: var(--link-hover);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0 auto var(--size-5);
  padding: 0;
}

figure img {
  margin: 0 auto;
}

figcaption {
  font-size: var(--font-size-3);
  padding: var(--size-1) 0;
  text-align: center;
}

blockquote {
  background:
    linear-gradient(to right, var(--gray-6)  4px, transparent 4px) 0 100%,
    linear-gradient(to left, var(--gray-6)  4px, transparent 4px) 100% 0,
    linear-gradient(to bottom, var(--gray-6) 4px, transparent 4px) 100% 0,
    linear-gradient(to top, var(--gray-6) 4px, transparent 4px) 0 100%;
  background-repeat: no-repeat;
  background-size: var(--size-4) var(--size-4);
  font-family: var(--font-serif);
  font-style: italic;
  font-size: var(--font-size-7);
  margin: 0;
  padding: var(--size-4);
}

table {
  border: 1px solid var(--gray-6);
  margin-bottom: var(--size-5);
}

td, th {
  padding: var(--size-2);
}
