:root {
  --black-1: #121212;
  --font-serif: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
  --font-sans: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  --bg: #ffffff;
  --link: #2d2dff;
}
