---
layout: layouts/base.njk
title: Web Project Guide
---
<div class="content">
  <h1>{{ title }}</h1>
  <ul class="articlelist">
    {%- for article in collections.articles -%}
      <li>
        <a href="{{ article.url | url }}"
           class="articlelist-link">{% if article.data.title %}{{ article.data.title }}{% else %}
            <code>{{ article.url }}</code>{% endif %}</a>
      </li>
    {%- endfor -%}
  </ul>
</div>
