.icon--date {
  background-image: url(/img/ui/calendar.svg);
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding-left: var(--size-5);
}

.icon--tag {
  background-image: url(/img/ui/tag.svg);
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding-left: var(--size-5);
}
