.post-date {
  display: block;
  color: var(--gray-7);
  font-size: var(--font-size-1);
  margin-bottom: var(--size-2);
}

.post-tags {
  display: flex;
  flex-wrap: wrap;
}

.post-tags__item {
  background-color: var(--gray-3);
  border-radius: var(--size-1);
  margin-bottom: var(--size-3);
  margin-right: var(--size-3);
  padding: var(--size-2);
}

.post-tags__item:last-of-type {
  margin-right: 0;
}

.post-tag {
  display: flex;
  font-size: var(--font-size-1);
  text-decoration: none;
}

.post-tags__item:hover {
  background-color: var(--gray-4);
}
