.postlist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) ) ;
  gap: var(--size-4);
}

.postlist-item {
  border: 1px solid var(--gray-2);
  border-radius: var(--size-1);
  box-shadow: 0 0 var(--size-2) var(--gray-4);
  cursor: pointer;
  padding: var(--size-4);
}

.postlist-item:focus-within, .postlist-item:hover {
  border-color: var(--link-rest);
}

.postlist-link {
  color: var(--black-1);
  text-decoration: none;
}

