@import 'normalize.css';

:root {
  --font-size-2: 1.25rem;
  --spacing-20: 20px;
  --spacing-25: 25px;
  --font-serif: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
  --font-sans: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  --black-1: #121212;
  --bg: #ffffff;
  --link: #5353FF;
  --gray-0: #686868;
}

/**
 * Global elements
 */
* {
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: var(--black-1);
  font-family: var(--font-sans);
  font-size: var(--font-size-2);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
  font-weight: 400;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: clamp(.333rem, 50vw, 1rem);
}

p,
ul,
ol {
  margin-bottom: 1.5rem;
  margin-top: 0;
}

h1 {
  font-size: clamp(2.4rem, 4vw, 3.2rem);
}

h2 {
  font-size: clamp(2.2rem, 4vw, 3rem);
}

h3 {
  font-size: clamp(1.9rem, 4vw, 2.7rem);
}

h4 {
  font-size: clamp(1.6rem, 4vw, 2.4rem);
}

h5 {
  font-size: clamp(1.5rem, 4vw, 2.2rem);
}

h6 {
  font-size: clamp(1.4rem, 4vw, 2rem);
}

a {
  color: var(--link);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0 auto 1.5rem;
  padding: 0;
}

figure img {
  margin: 0 auto;
}

figcaption {
  font-size: 1rem;
  padding: 5px 0;
  text-align: center;
}

blockquote {
  background:
    linear-gradient(to right, var(--gray-0)  4px, transparent 4px) 0 100%,
    linear-gradient(to left, var(--gray-0)  4px, transparent 4px) 100% 0,
    linear-gradient(to bottom, var(--gray-0) 4px, transparent 4px) 100% 0,
    linear-gradient(to top, var(--gray-0) 4px, transparent 4px) 0 100%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  font-family: var(--font-serif);
  font-style: italic;
  font-size: 2rem;
  margin: 0;
  padding: var(--spacing-20);
}

table {
  border: 1px solid var(--gray-0);
  margin-bottom: 1.5rem;
}

td, th {
  padding: 10px;
}

/*
 * utility classes
 */
.container {
  margin: 0 auto;
  max-width: 1600px;
}

.list-reset {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.pd {
  padding: var(--spacing-20);
}

/*
 * page parts
 */
.siteheader__logo {
  fill: var(--black-1);
  width: 150px;
}

.button--skip-link {
  background: var(--bg);
  border: 2px solid var(--black-1);
  border-radius: 4px;
  color: var(--black-1);
  display: inline-block;
  line-height: 1;
  text-decoration: none;
  padding: 10px 15px;
  left: 5px;
  position: absolute;
  top: -300px;
}

.button--skip-link:focus {
  top: 10px;
}

.tmpl-article .content-body {
  margin: 0 auto;
  max-width: 700px;
}

/**
 * meta info
 */
.post-tags {
  display: flex;
}

.post-tags__item {
  margin-right: 10px;
}

/**
 * icons
 */
.icon-date {
  background: url(/img/ui/calendar.svg) no-repeat 0 50%;
  padding-left: var(--spacing-25);
}

.icon-tag {
  background: url(/img/ui/tag.svg) no-repeat 0 50%;
  padding-left: var(--spacing-25);
}

/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #272822;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #f8f8f2;
}

.token.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672;
}

.token.boolean,
.token.number {
  color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #e6db74;
}

.token.keyword {
  color: #66d9ef;
}

.token.regex,
.token.important {
  color: #fd971f;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

